#experience {
    display: flex;
    margin-top: 100px;
}

#experience > .left {
    max-width: 30vw;
    margin-right: 50px;
}

#experience > .right {
    margin-top: 100px;
}

.exp-detail {
    margin-bottom: 50px;
}

.exp-detail > p {
    margin: 8px 0;
}

.exp-detail > p:first-child,
.exp-detail > p:last-child {
    font-style: italic;
    opacity: 0.7;
}

.exp-detail > p:nth-child(2) {
    font-weight: bold;
    margin-right: 20px;
}

.expertise {
    font-size: 5rem;
    font-weight: 500;
}

.expertise > p {
    opacity: 0.4;
    transition: opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.expertise > p:hover {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .expertise {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 414px) {
    #experience {
        display: block;
    }

    .expertise {
        font-size: 2rem;
    }
}
