:root {
    --black-color: #2a363b;
    --white-color: #f9f7f7;
    --accent-color: #e84a5f;

    --margin-big: 7vw;
    --margin-medium: 3vw;
    --margin-small: 36px;
    --margin-top: 50px;

    --font-size: 18px;
}

.light {
    --text-color: var(--black-color);
    --bg-color: var(--white-color);
}

.dark {
    --text-color: var(--white-color);
    --bg-color: var(--black-color);
}
